.card {
    border-radius: var(--mantine-radius-lg);
    padding-block-end: var(--mantine-spacing-md);
    margin-block-start: 60px;

    &:hover,
    &:focus {
        --distance-from-center: 0;
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-9));
    }
}

.icon {
    filter: drop-shadow(0 2px 2px light-dark(var(--mantine-color-cyan-2), var(--mantine-color-dark-9)));
}

.temp {
    box-shadow: 0 0 3px 1px light-dark(var(--mantine-color-cyan-1), var(--mantine-color-dark-9)) inset;
}
